# Spark Data Frame Basics

In order to work with __Spark Data Frame__, we need to start **Spark Session**.

In [2]:
import findspark

In [3]:
findspark.init('/home/hp/spark-3.0.3-bin-hadoop2.7')

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

21/10/24 01:08:46 WARN Utils: Your hostname, hp-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
21/10/24 01:08:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/hp/spark-3.0.3-bin-hadoop2.7/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/24 01:08:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [6]:
df = spark.read.json('people.json')

In [7]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
df.columns

['age', 'name']

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import (StructType, StructField, 
                               IntegerType, StringType)

In [12]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [13]:
final_struct = StructType(fields=data_schema)

In [14]:
df = spark.read.json('people.json',schema=final_struct)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [17]:
df['age']

Column<b'age'>

In [18]:
type(df['age'])

pyspark.sql.column.Column

In [19]:
df.select('age')

DataFrame[age: int]

In [20]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [21]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [22]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [23]:
df.head(2)[1]

Row(age=30, name='Andy')

In [24]:
type(df.head(2))

list

In [25]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [27]:
df.select(['name', 'age']).show()

+-------+----+
|   name| age|
+-------+----+
|Michael|null|
|   Andy|  30|
| Justin|  19|
+-------+----+

In [28]:
df.withColumn('newColumn',df['age'])

DataFrame[age: int, name: string, newColumn: int]

In [31]:
df.withColumn('newColumn',df['age']).show()

+----+-------+---------+
| age|   name|newColumn|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       30|
|  19| Justin|       19|
+----+-------+---------+

In [32]:
df.withColumn('doubleColumn',df['age']*2).show()

+----+-------+------------+
| age|   name|doubleColumn|
+----+-------+------------+
|null|Michael|        null|
|  30|   Andy|          60|
|  19| Justin|          38|
+----+-------+------------+

In [33]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
df.withColumnRenamed('age', 'new_Age').show()

+-------+-------+
|new_Age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [36]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [43]:
df.createOrReplaceTempView('people')

In [45]:
results = spark.sql("SELECT * FROM people")

In [46]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [48]:
type(results)

pyspark.sql.dataframe.DataFrame

In [51]:
new_results = spark.sql("select * from people where age = 30")

In [52]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+