In [1]:
print("My name is {}".format('Himangshu'))

My name is Himangshu

In [4]:
print("My name is {}, my number is int {}, my number is string {}".format('Himangshu',10, '20'))

My name is Himangshu, my number is int 10, my number is string 20

In [5]:
print("First: {x} Second {y}".format(x='xxx', y='yyy'))

First: xxx Second yyy

In [6]:
print("First: {y} Second {x}".format(x='xxx', y='yyy'))

First: yyy Second xxx

In [7]:
mylist = ['a','b','c']

In [8]:
mylist

['a', 'b', 'c']

In [9]:
type(mylist)

list

In [10]:
mylist[0]

'a'

In [11]:
mylist[2]

'c'

In [12]:
mylist[-1]

'c'

In [13]:
mylist[0]='new'

In [14]:
mylist

['new', 'b', 'c']

In [15]:
mylist.append('D')

In [16]:
mylist

['new', 'b', 'c', 'D']

In [17]:
mylist = [1,2,[100, 200]]

In [18]:
mylist

[1, 2, [100, 200]]

In [19]:
mylist[2]

[100, 200]

In [20]:
mylist[2][1]

200

In [21]:
d = {'key1':'value1', 'key2':'value2'}

In [22]:
d

{'key1': 'value1', 'key2': 'value2'}

In [23]:
d['key1']

'value1'

In [24]:
d['key2']

'value2'

In [25]:
print(d)

{'key1': 'value1', 'key2': 'value2'}

In [26]:
t = (1,2,3)

In [28]:
{1,2,3}

{1, 2, 3}

In [29]:
{11,22,33,11,22,33,44}

{11, 22, 33, 44}

In [1]:
list(range(5))

[0, 1, 2, 3, 4]

In [5]:
x = [1,2,3,4,5]

In [6]:
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16, 25]

In [7]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [10]:
def func_name(name = 'NO NAME'):
    '''This prints out the user name!
    '''
    print('Hello! '+name)

In [9]:
func_name('Himangshu')

Hello! Himangshu

In [11]:
func_name

In [12]:
def square(x):
    return x**2

In [13]:
result = square(2)

In [14]:
result

4

In [15]:
def times_two(var):
    return var*2

In [16]:
times_two(10)

20

In [17]:
lambda var: var*2